.user-form {
  justify-content: center;
  min-height: 90vh;
}

.button-block {
  width: 100%;
}

.user-background {
  justify-content: center;
  min-height: 30vh;
  padding: 50px;
  background-color: aliceblue !important;
}